/*
palette
#123A40 Dark Teal
#60D2CB Turquoise
#C1666B Pink
#FFFFFF White
#2B061E Dark Purple
*/

*{
    box-sizing: border-box;
}

/*nav{*/
/*    margin: auto;*/
/*}*/

.navbar ul{
    font-size: 24px;
}

body {
    font-family: Arial, sans-serif;
    /*background-color: #123a40;*/
}

footer{
    /*background-color: coral;*/
    clear:both;
    margin-top:20px;
}

footer p{
    /*background-color: darkgoldenrod;*/
    margin:8px;
}

.PageLink{
    /*background-color:lightsteelblue;*/
    border:2px solid black;
    border-radius:16px;
    padding: 16px 8px;
    margin-bottom:16px;
    clear:both;
    display: inline-block;
    background-color: darkslategray;
    color: white;
    /*text-decoration: none;*/

}

.Clear
{
    clear: both;
}

.PageLink:link {
    text-decoration: none;
    background-color: darkslategray;
    color: white;
}

.PageLink:visited
{
    text-decoration: none;
    background-color: darkslategrey;
    color: white;
}

.PageLink:hover {
    background-color: lightsteelblue;
}

.PageLink:active {
    background-color: #00ffff;
}

h3{
    font-size: 16px;
}

h4{
    font-size: 14px;
}

ul{
    font-size: 12px;
    /*background-color: lightpink;*/
    margin-bottom: 3px;
    margin-top: 3px;
}

.Wrapper{
    /*color: #ffffff;*/
    /*background-color: #123a40;*/
    min-height: 100vh;
    height: 100%;
}



.HeroImage{
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px;
    clear:both;
    height:200px;
}

.validationError{
    color: red;
}

.SemesterRack{
    /*background-color: #dbe1ea;*/
    /*border: solid #376fca 2px;*/
    min-height: 40px;
    height: auto;
    margin-bottom:20px;
}

.SemesterBoard{
}

SemesterHeader{
    text-align: center;
}

.CourseButton{
    border-color:#123a40;
    border-width: 2px;
    font-weight: bold;
    font-size:18px;
    background-color: #C1666B;
    color: black;
    box-shadow: 2px 2px 3px black;
}

.CourseSlot{
    border: solid #000000 1px;
    margin:3px;
    margin-bottom:6px;

}

.CourseCard{
    margin: 10px;
    box-shadow: 5px 5px 5px black;
    color:black;
    background-color: #8fb0b8;
}

.CourseOBackground{
    color:black;
    background-color: #8fb0b8;
}

.CourseCardFooter{
    border-radius: 5px;
    box-shadow:2px 2px 2px black;
    font-weight:bold;
    font-size:18px;
}

.CourseCardBody{}

.CourseCardBodyRight{
    /*box-shadow: 1px 1px 2px black;*/
    height:100%;
    float:right;
    width: 120px;

}

.CourseCardBodyLeft{}

.CourseCardHeader{
    font-size: large;
    text-align: center;
    font-weight: bold;
    background-color: #406d77;;
}

/*.InnerSlot{*/
/*    background-color: ghostwhite;*/
/*    border-color: black;*/
/*    border-radius: 5px;*/
/*    margin:auto;*/
/*    height:90%;*/
/*    margin-top:5px;*/
/*    margin-bottom:5px;*/

/*}*/

.navbar{
}
/*https://getbootstrap.com/docs/4.0/components/card/*/






