<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headData">
    <meta charset="UTF-8">
    <link th:href="@{styles.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}"/>
</head>
<body>
    <div th:fragment="headerData" class="row justify-content-center">
        <h1 class="col-12 text-center">Welcome to Course-O-Matic!</h1>
    </div>
    <div th:fragment="imageData" class="row justify-content-center mt-2 mb-2">
        <img th:src="@{images/NEIUPortWithX.png}" class="HeroImage"/><br/>
    </div>
    <nav th:fragment="navData" class="navbar navbar-expand-lg navbar-light bg-light">
        <span class="navbar-brand mr-auto">Course-O-Matic</span>
        <button class="navbar-toggler" type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" th:classappend="${#request.getServletPath() == '/' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item" th:classappend="${#request.getServletPath() == '/addcourse' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/addcourse}">Add Course</a>
                </li>
                <li class="nav-item" th:classappend="${#request.getServletPath() == '/courselist' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/courselist}">View Courses</a>
                </li>
<!--                <li class="nav-item" th:classappend="${#request.getServletPath() == '/dashboard' ? 'active' : ''}">-->
<!--                    <a class="nav-link" th:href="@{/dashboard}">Student Dashboard</a>-->
<!--                </li>-->
                <li class="nav-item" th:classappend="${#request.getServletPath() == '/login' ? 'active' : ''}"
                    th:if="${#authentication.getName().equals('anonymousUser')}">
                    <a class="nav-link" th:href="@{/login}">Log In</a>
                </li>
                <li class="nav-item" th:classappend="${#request.getServletPath() == '/register' ? 'active' : ''}"
                    th:if="${#authentication.getName().equals('anonymousUser')}">
                    <a class="nav-link" th:href="@{/register}">Register</a>
                </li>
                <li class="nav-item"
                    th:if="${#authentication.getName().equals('anonymousUser') == false}">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <footer th:fragment="footerData">
        <p class="row justify-content-center mt-1 mb-1">Copyright @2020</p>
        <p class="row justify-content-center mt-1 mb-1">Travis Ford</p>
        <p class="row justify-content-center mt-1 mb-1">CS-321-1</p>
    </footer></div>
    <div th:fragment="scriptData">
        <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" ></script>
        <script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}" ></script>
        <script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}" ></script>
    </div>>
</body>
</html>