<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{styles.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}"/>
    <title>Add Course</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <span class="navbar-brand">Course-O-Matic</span>
        <button class="navbar-toggler" type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" th:classappend="${#request.getServletPath() == '/' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item" th:classappend="${#request.getServletPath() == '/addcourse' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/addcourse}">Add Course</a>
                </li>
                <li class="nav-item" th:classappend="${#request.getServletPath() == '/courselist' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/courselist}">View Courses</a>
                </li>
                <li class="nav-item" th:classappend="${#request.getServletPath() == '/login' ? 'active' : ''}"
                    th:if="${#authentication.getName().equals('anonymousUser')}">
                    <a class="nav-link" th:href="@{/login}">Log In</a>
                </li>
                <li class="nav-item" th:classappend="${#request.getServletPath() == '/register' ? 'active' : ''}"
                    th:if="${#authentication.getName().equals('anonymousUser')}">
                    <a class="nav-link" th:href="@{/register}">Register</a>
                </li>
                <li class="nav-item"
                    th:if="${#authentication.getName().equals('anonymousUser') == false}">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid mt-5">
        <div class="row justify-content-center">
            <h1 class="col-12 text-center">Welcome to Course-O-Matic!</h1>
        </div>
        <div class="row justify-content-center mt-2 mb-2">
            <img th:src="@{images/NEIUPortWithX.png}" class="HeroImage"/><br/>
        </div>
        <div class="row justify-content-center mt-2 mb-2" id="addCourseWrapper">
            <form  method="post" th:object="${newCourse}">
                <label for="department">Department:</label>
                <input type="text" id="department" name="dept" th:field="${newCourse.dept}" placeholder="CS">
                <span class="validationError" th:if="${#fields.hasErrors('dept')} "th:errors="${newCourse.dept}"></span><br>
                <label for="coursenumber">Course Number:</label>
                <input type="text" id="coursenumber" name="number" th:field="${newCourse.courseNumber}"placeholder="201">
                <span class="validationError" th:if="${#fields.hasErrors('courseNumber')}"th:errors="${newCourse.courseNumber}"></span><br>
                <label for="name">Name:</label>
                <input type="text" id="name" name="title" th:field="${newCourse.title}" placeholder="Programming 1">
                <span class="validationError" th:if="${#fields.hasErrors('title')}"th:errors="${newCourse.title}"></span><br>
                <p>Select course prerequisites:</p>
                <ul th:each="course : ${courses}">
                    <li>                                                                                                               <!--   TODO: Remove ridiculous setter hack-->
                        <input type="checkbox" th:value="${course.deptAndNumber}" th:text="${course.deptAndNumber} + ' ' + ${course.title}" th:field="${newCourse.newPrereqs}"/>
                    </li>
                </ul>
                <Button>Add Course</Button>
            </form>
        </div>
        <footer>
            <p class="row justify-content-center mt-1 mb-1">Copyright @2020</p>
            <p class="row justify-content-center mt-1 mb-1">Travis Ford</p>
            <p class="row justify-content-center mt-1 mb-1">CS-321-1</p>
        </footer>
    </div>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" ></script>
    <script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}" ></script>
    <script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}" ></script>
</body>
</html>