<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/base :: headData"></div>
    <title>Add Complete</title>
</head>
    <body>
        <nav th:insert="fragments/base :: navData"></nav>
        <div class="container-fluid mt-5">
            <div class="container-fluid mt-5">
                <div th:insert="fragments/base :: headerData"></div>
                <div th:insert="fragments/base :: imageData"></div>
                <p class="row justify-content-center mt-2 mb-2">Thank you for your submission!</p>
                <br/>
                <footer th:insert="fragments/base :: footerData"></footer>
            </div>
        </div>
        <div th:insert="fragments/base :: scriptData"></div>
    </body>
</html>