<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles.css">
    <link th:href="@{styles.css}" rel="stylesheet" />
    <title>Course Added</title>
</head>
<body>
    <div class="Wrapper">
        <h1>Course-O-Matic!</h1>
        <img th:src="@{images/NEIUPortWithX.png}" class="HeroImage"/><br/>
        <p>Thank you for your submission!</p>
        <br/>
        <a th:href="@{/addcourse}" class="PageLink">CLICK HERE TO ADD COURSE</a>
        <a th:href="@{/courselist}" class="PageLink">CLICK HERE TO VIEW ALL COURSES</a>
        <footer>
            <p>Copyright @2020</p>
            <p>Travis Ford</p>
            <p>CS-321-1</p>
        </footer>
    </div>
</body>
</html>