<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/base :: headData">
    <title>Course List</title>
</head>
<body onload="moveCard()">
    <nav th:insert="fragments/base :: navData"></nav>
    <div class="container-fluid mt-5 Wrapper justify-content-center">
        <div th:insert="fragments/base :: headerData"></div>
        <div th:insert="fragments/base :: imageData"></div>
        <h1 class="row justify-content-center mt-2 mb-2">Available Courses:</h1>
        <h2 class="row justify-content-center mt-2 mb-4">Course List:</h2>


        <div th:insert="fragments/base :: courseCardGroup(${courses})">
        </div>
        <footer th:insert="fragments/base :: footerData">
        </footer>
        <div th:insert="fragments/base :: addCardArea"></div>
        <div th:insert="fragments/base :: scriptData"></div>
    </div>
    <div th:replace="fragments/base :: detailModal"></div>
    <div th:replace="fragments/base :: deleteModal"></div>



<script th:inline="javascript">
    let courseArray = [[${courses}]];

    function moveCard()
    {
        document.getElementById('coursesGroup').firstChild.before(document.getElementById('addCardArea'));
    }
    function deleteCourse(id){

    }

    function detailsModal(id){
        while (document.getElementById("courseModal_PrereqsList").hasChildNodes()) {
            document.getElementById("courseModal_PrereqsList").removeChild(document.getElementById("courseModal_PrereqsList").lastChild);
        }

        if(findCourse(id) != null) {
            course = findCourse(id);
            document.getElementById("courseModal_CourseName").textContent = course.title;
            document.getElementById("courseModal_CourseNumber").textContent = course.deptAndNumber;
            let prereqs = [];
            prereqs = Array.from(course.prereqsDeptAndNumber);
            for(let i = 0; i < prereqs.length; i++) {
                let node = document.createElement("li");
                let textNode = document.createTextNode(prereqs[i]);
                node.appendChild(textNode);
                document.getElementById("courseModal_PrereqsList").appendChild(node);
            }
        }

    }
    function findCourse(id)
    {
        //console.log(courseArray.find(x=>x.deptAndNumber === id));
        return courseArray.find(x=>x.deptAndNumber === id);
    }



</script>
</body>
</html>