<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/base :: headData">
    <title>Edit Course</title>
</head>
<body>
<div id="wrapper" class="container-fluid">
    <nav th:replace="fragments/base :: navData">
    </nav>
    <div th:insert="fragments/base :: headerData"></div>
    <div th:insert="fragments/base :: imageData"></div>





    <footer th:replace="fragments/base :: footerData">
    </footer>
</div>
<div th:replace="fragments/base :: scriptData"></div>
</div>

</body>
</html>