<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/base :: headData"></div>
    <title>Welcome To Course-O-Matic!</title>
</head>
    <body>
        <nav th:insert="fragments/base :: navData"></nav>
        <div class="container-fluid mt-5 Wrapper">
            <div th:insert="fragments/base :: headerData"></div>
            <div th:insert="fragments/base :: imageData"></div>
            <footer th:insert="fragments/base :: footerData"></footer>
        </div>

        <div th:insert="fragments/base :: scriptData"></div>



    </body>
</html>