<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/base :: headData">
    <title>Login</title>
</head>
<body>
<nav th:insert="fragments/base :: navData"></nav>
<div class="container-fluid mt-5">
    <div th:insert="fragments/base :: headerData"></div>
    <div th:insert="fragments/base :: imageData"></div>
    <h1 class="row justify-content-center mt-2 mb-2">Login:</h1><br/>
    <form method="post"  class="container-fluid" th:action="@{/login}" id="loginForm">
        <div class="row form-group justify-content-center">
            <label class="col-form-label col-2 text-right font-weight-bold" for="userName">Username:</label>
            <input class="form-control col-md-2" type="text" id="username" name="username">
        </div>
        <div class="row form-group justify-content-center">
            <label class="col-form-label col-2 text-right font-weight-bold" for="password">Password:</label>
            <input class="form-control col-md-2" type="password" id="password" name="password">
        </div>
        <div class="row form-group justify-content-center">
            <span class="col-6 col-md-3"></span>
            <input class="col-1 form-control" type="submit" value="LOG IN"></input>
            <span th:if="${param.error}" class="col-md-2 Clear">
                        Unable to log in, please try again. If you have not yet registered, please <a class="nav-link" th:href="@{/register}">Register</a>
                    </span>
            <!--                    <span class="validationError" th:if="${#fields.hasErrors('password')} "th:errors="${newCourse.dept}"></span><br>-->
        </div>

    </form>
    <footer th:insert="fragments/base :: footerData"></footer>
</div>
<div th:insert="fragments/base :: scriptData"></div>
</body>
</html>


