<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{styles.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}"/>
    <title>Login</title>
</head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <span class="navbar-brand">Course-O-Matic</span>
            <button class="navbar-toggler" type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" th:classappend="${#request.getServletPath() == '/' ? 'active' : ''}">
                        <a class="nav-link" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item" th:classappend="${#request.getServletPath() == '/addcourse' ? 'active' : ''}">
                        <a class="nav-link" th:href="@{/addcourse}">Add Course</a>
                    </li>
                    <li class="nav-item" th:classappend="${#request.getServletPath() == '/courselist' ? 'active' : ''}">
                        <a class="nav-link" th:href="@{/courselist}">View Courses</a>
                    </li>
                    <li class="nav-item" th:classappend="${#request.getServletPath() == '/login' ? 'active' : ''}"
                        th:if="${#authentication.getName().equals('anonymousUser')}">
                        <a class="nav-link" th:href="@{/login}">Log In</a>
                    </li>
                    <li class="nav-item" th:classappend="${#request.getServletPath() == '/register' ? 'active' : ''}"
                        th:if="${#authentication.getName().equals('anonymousUser')}">
                        <a class="nav-link" th:href="@{/register}">Register</a>
                    </li>
                    <li class="nav-item"
                        th:if="${#authentication.getName().equals('anonymousUser') == false}">
                        <a class="nav-link" th:href="@{/logout}">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid mt-5">
            <div class="row justify-content-center">
                <h1 class="col-12 text-center">Welcome to Course-O-Matic!</h1>
            </div>
            <div class="row justify-content-center mt-2 mb-2">
                <img th:src="@{images/NEIUPortWithX.png}" class="HeroImage"/><br/>
            </div>
            <h1 class="row justify-content-center mt-2 mb-2">Login:</h1><br/>
            <form method="post"  class="container-fluid" th:action="@{/login}" id="loginForm">
                <div class="row form-group justify-content-center">
                    <label class="col-form-label col-2 text-right font-weight-bold" for="userName">Username:</label>
                    <input class="form-control col-md-2" type="text" id="username" name="username">
                </div>
                <div class="row form-group justify-content-center">
                    <label class="col-form-label col-2 text-right font-weight-bold" for="password">Password:</label>
                    <input class="form-control col-md-2" type="password" id="password" name="password">
                </div>
                <div class="row form-group justify-content-center">
                    <span class="col-6 col-md-3"></span>
                    <input class="col-1 form-control" type="submit" value="LOG IN"></input>
                    <span th:if="${param.error}" class="col-md-2 Clear">
                        Unable to log in, please try again. If you have not yet registered, please <a class="nav-link" th:href="@{/register}">Register</a>
                    </span>
<!--                    <span class="validationError" th:if="${#fields.hasErrors('password')} "th:errors="${newCourse.dept}"></span><br>-->
                </div>

            </form>
            <footer>
                <p class="row justify-content-center mt-1 mb-1">Copyright @2020</p>
                <p class="row justify-content-center mt-1 mb-1">Travis Ford</p>
                <p class="row justify-content-center mt-1 mb-1">CS-321-1</p>
            </footer>
        </div>
        <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" ></script>
        <script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}" ></script>
        <script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}" ></script>
    </body>
</html>