<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/base :: headData">
    <title>Registration</title>
</head>
<body>
    <nav th:insert="fragments/base :: navData"></nav>
    <div class="container-fluid mt-5">
        <div th:insert="fragments/base :: headerData"></div>
        <div th:insert="fragments/base :: imageData"></div>
        <h1 class="row justify-content-center mt-2 mb-2">Register:</h1><br/>
        <form method="post"  class="container-fluid " th:action="@{/register}" th:object="${registrationForm}">
            <div class="row form-group justify-content-center align-items-center">
                <label class="col-form-label col-2 text-right font-weight-bold" for="username">UserName: </label>
                <input class="form-control col-md-2" type="text" th:name="username" th:value="*{username}" id="username">
                <span class="validationError" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</span>
            </div>
            <div class="row form-group justify-content-center">
                <label class="col-form-label col-2 text-right font-weight-bold" for="password">Password: </label>
                <input class="form-control col-md-2" type="password" th:name="password" th:value="*{password}" id="password">
                <span class="validationError" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span>
            </div>>
            <div class="row form-group justify-content-center">
                <label class="col-form-label col-2 text-right font-weight-bold" for="email">Email Address: </label>
                <input class="form-control col-md-2" type="email" th:name="email" th:value="*{email}" id="email">
                <span class="validationError" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</span>
            </div>
            <div class="row form-group justify-content-center">
                <label class="col-form-label col-2 text-right font-weight-bold" for="fullname">Full Name: </label>
                <input class="form-control col-md-2" type="text" th:name="fullname" th:value="*{fullname}" id="fullname">
                <span class="validationError" th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}">Name Error</span>
            </div>>
            <div class="row form-group justify-content-center align-content-end">
                <input class="form-control col-md-2" type="submit" value="Register"/>
            </div>
        </form>
        <footer th:insert="fragments/base :: footerData"></footer>
    </div>
    <div th:insert="fragments/base :: scriptData"></div>
</body>
</html>