<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/base :: headData"></div>
    <title>Student Dashboard</title>
</head>
<body>
<nav th:insert="fragments/base :: navData"></nav>
<div class="container-fluid mt-5 Wrapper justify-content-center">
    <div th:insert="fragments/base :: headerData"></div>
    <div th:insert="fragments/base :: imageData"></div>
    <h1 class="row justify-content-center mt-2 mb-2">Available Courses:</h1>
    <h2 class="row justify-content-center mt-2 mb-4">Course List:</h2>


    <footer th:insert="fragments/base :: footerData">
    </footer>
</div>
<div th:insert="fragments/base :: scriptData"></div>
<script th:inline="javascript">

    let url = 'http://localhost:8080/studentdashboard/savecoursechange';
    //let url = "@{/savecoursechange}";
    var cosId = 3;//"${cos.id}";

    function postCourseChange(cid, sid)
    {
        let payload = {
            cosid: cosId,
            courseid: cid,
            sequencenumber: sid
        };
        console.log('data: ' + payload);
        $.post(url,payload, function(data,status){
            console.log('POST status: ${status}')});
    }
    // Data names must match SequencedCoursePOJO names





</script>
</body>
</html>