<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/base :: headData"></div>
    <title>View Schedule</title>
</head>
<body>
<nav th:insert="fragments/base :: navData"></nav>
<div class="container-fluid mt-5 Wrapper justify-content-center">
    <div th:insert="fragments/base :: headerData"></div>
    <div th:insert="fragments/base :: imageData"></div>
    <h1 class="row justify-content-center mt-2 mb-2">Your schedule:</h1>

    <div th:each="course : ${courses}">
        <div>
            <h3 th:text="'Number: '${course.title}">Number:</h3>
            <p th:text="'Title: '${course.title}">Title:</p>
        </div>
    </div>

    <footer th:insert="fragments/base :: footerData">
    </footer>
    <div th:insert="fragments/base :: scriptData"></div>
</div>
</body>
</html>